<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<br/>
<a href="https://twitter.com/intent/tweet?url={{ site.baseurl }}&text={{ page.title }}&via=_ar_g" 
   target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
  <a href="https://facebook.com/sharer.php?text={{ page.title }}&u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
  <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Linkedlin"><i class="fa fa-linkedin-square fa-2x"></i></a>
  <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>

  